@charset "UTF-8";

/*
    paleta de cores
    roxo escuro; 3B3085
    lilás: 6A5A9F
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #480CA8;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
}

section#login {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    width: 270px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    
    transform: translate(-50%, -50%);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #30339a url(../imagens/universo.jpg);
    background-size: cover;
    height: 200px;
}

section#login > div#formula {
    display: block;
    padding: 10px;
}

div#formula > h1 {
    text-align: center;
}
div#formula > p {
    font-size: 0.8em;
}


form > div.campo{
   background-color: #560BAD;
   width: 100%;
   display: block;
   height: 40px;
   border-radius: 8px;
   border: 1px solid #560BAD;
   margin: 5px 0px;
}
div.campo > label {
    display: none;
}

div.campo > i {
    font-size: 2em;
    height: 40px;
    padding: 5px;
    color: white;
}

div.campo > input {
    
    font-size: 1em;
    width: calc(100%-44px);
    height: 100%;
    border-radius: 8px;
    border: 1px solid #560BAD;
    padding: 4px;

    transform: translateY(-11px);
}
div.campo > input:focus-within {
    background-color: white ;
} 

form > input[type=submit] {
    margin-top: 5px;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #7209B7;
    color: white;
    border: none;
    border-radius: 5px;
}
form > input[type=submit]:hover {
    background-color: #B5179E;
    cursor: pointer;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    color: #7209B7;
    border: 1px solid #7209B7;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 5px;
}
form > a.botao:hover {
    background-color: #B5179E;
}
form > a.botao > i {
    font-size: 0.8em;
}